.home {
    &__header {
        height: 80vh;
        background-position: center center;
        background-size: cover;
    }
    &__logo {
        width: 7rem;
        height: auto;
        mix-blend-mode: exclusion;
        filter: invert(100%);
    }
    .alice-carousel {
        border-radius: 1.5rem;
        overflow: hidden;
        position: absolute;
    }
}



