.social-network-links {
    text-align: right;
    justify-content: end;
    display: flex;
    top: -6vh;
    position: relative;
    a {
        padding-right: 1rem;
    }
    svg {
        fill: var(--header-text-color);
    }
}
