.header {
    $self: &;
    top: -2px;
    &__logo {
        filter: invert(100%);
        height: 60px;
    }
    &__container {
        color: white;
        height: 85px;
        background-color: black;
        box-shadow: 0px rgba(0, 0, 0, 0.2);
    }
    &__now-playing {
        margin: 0rem 0.75rem;
        color: red;
        width: 50%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__logo {
        display: inline;
    }
    &.header--is-pinned {
        /*
        #{ $self }__logo {
            display: inline;
        }
        */
        #{ $self }__container {
            background-color: blue;
            box-shadow: 20px -15px 15px 25px rgba(0, 0, 0, 0.2);
        }
    }

    @keyframes border-color-animation {
        0% {
            border-color: rgb(196, 212, 230);
        }
        25% {
            border-color: #5fcea5;
        }
        50% {
            border-color: rgb(255, 254, 192);
        }
        75% {
            border-color: rgb(241, 208, 201);
        }
        100% {
            border-color: rgb(196, 212, 230);
        }
    }

    .link-comentarios a {
        border: 2px solid;
        padding: 0.4rem .4rem;
        border-radius: 12px;
        animation: border-color-animation 2s infinite linear;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: inline-block;
    }
}
