.player {
    $self: &;
    width: 60px;
    height: 60px;
    display: flex;
    position: relative;
    cursor: pointer;
    &:focus {
        outline:0;
    }
    &__border { 
        border: 5px solid white;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
    
    svg {
        margin: auto;
        top: 1px;
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 0;
        border-color: transparent transparent transparent white;
        transition: .1s all ease;
        cursor: pointer;
        border-style: solid;
        outline: 0;
        height: 24px;
        left: 2px;
        border-width: 12px 0 12px 20px;
    }
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            #{ $self }__border {
                border: 5px dashed white;
                animation: hover-animation 1s 0.08s infinite;
            }
        }
    }
    &--playing {
        animation: playing-animation 1s 0.08s infinite;
        svg {
            border-style: double;
            border-width: 0 0 0 18px;
            outline: 0;
            left: 0px;
        }
    }

    &--isOffline {
        cursor: wait;
        #{ $self }__border {
            border: 5px solid gray;
        }
        svg {
            border-color: transparent transparent transparent gray;
        }
        &:hover {
            #{ $self }__border {
                border: 5px solid gray;
            }
        }
    }
    
    @keyframes hover-animation {
        0% {
            transform: rotate(0deg);
        }
        30% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }
    @keyframes playing-animation {
        0% {
            opacity: 1;
        }
        30% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
}

