@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Circular Std Book';
  ::selection {
    background: #A792FF;
    color: white;
  }
}

@font-face {
  font-family: 'Circular Std Black';
  src: url('./assets/fonts/CircularStd/CircularStd-Black.woff2') format('woff2'),
    url('./assets/fonts/CircularStd/CircularStd-Black.woff') format('woff'),
    url('./assets/fonts/CircularStd/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('./assets/fonts/CircularStd/CircularStd-Book.woff2') format('woff2'),
    url('./assets/fonts/CircularStd/CircularStd-Book.woff') format('woff'),
    url('./assets/fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/*
@font-face {
  font-family: 'Noah Text Bold';
  src: url('./assets/fonts/NoahText/NoahText-Bold.woff2') format('woff2'),
      url('./assets/fonts/NoahText/NoahText-Bold.woff') format('woff'),
      url('./assets/fonts/NoahText/NoahText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*/
/*
@keyframes background-color-animation {
  0% {
    background-color: #f9f8de;
  }
  10% {
    background-color: #ddf3ef;
  }
  20% {
    background-color: #fce5e7;
  }
  35% {
    background-color: #dde6e0;
  }
  40% {
    background-color: #dbffe4;
  }
  50% {
    background-color: #dde6e0;
  }
  60% {
    background-color: #dbdcff;
  }
  70% {
    background-color: #dbffe4;
  }
  75% {
    background-color: #fce5e7;
  }
  80% {
    background-color: #f9f8de;
  }
  95% {
    background-color: #dbdcff;
  }
}
*/

@keyframes background-color-animation {
  0% {
    background-color: rgb(196, 212, 230);
  }
  25% {
    background-color: #5fcea5;
  }
  50% {
    background-color: rgb(255, 254, 192);
  }
  75% {
    background-color: rgb(241, 208, 201);
  }
  100% {
    background-color: rgb(196, 212, 230);
  }
}

.invert-svg {
  filter: invert(1);
}
